page-menu {
    .products-list{
        overflow-y: scroll;
        max-height: 95%;
    }

    .ion-item-group{
        padding-left: 0!important;
    }

    .button.add-remove ion-icon {
        font-size: 95%;
        color: black;
        background: transparent;
    }
    
    .add-remove {
        background: map-get($map: $colors, $key: categorie);
        border-radius: 3px;
        font-size: 90%;
    }

    .ion-list.grid-full{
        padding: 0;
    }

    .grid-full ion-row {
        display: flex;
        padding: 0!important;
    }

    .grid-full {
        padding: 0!important;
    }

    .remove-cell{
        align-self: center;
    }
    
    .quantity-cell{
        text-align: center;
        align-self: center;
    }

    .add-cell{
        align-self: center;
        padding: 0;
    }
}
